/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:500italic,300,400,500,600,700,800,900');

body {
	color:#555555;
	background: #fff;
	font-size: 14px;
	line-height: 1.6em;
	font-weight: 400;
	text-shadow: none;
	letter-spacing: 0.04em;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
/*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-track {
      background-color: #fff;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: #e6e6e6;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    display:none;
      background-color: #e6e6e6;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: #fff;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans';
}
h1, h2, h3, h4, h5, h6 {
	color:#555555;
	font-style: normal;
	margin: 0 0 0px 0;
}

h1 { font-size: 40px; line-height: 30px; }
h2 { font-size: 28px; line-height: 1.25em;}
h3 { font-size: 21px; }
h4 { font-size: 16px; }

.brd-d7{
	border-bottom: 1px solid #d7d7d7;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

a {
	background-color: transparent;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
			background-color: transparent;
}

:focus {
	outline: none;
}

.row {
	z-index: 9999;
}
.container {
	overflow: initial;
	width:100%;
}

.navbar.navbar-fixed-top {
	z-index: 100;
}

.align-left {	text-align: left;}
.align-right {	text-align: right;}
.align-center {	text-align: center;}
.align-mid {
	position: relative;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
}
.line-ht28 {	line-height: 2.8em;}

.pad-top0 {	padding-top: 0;}
.pad-top10 {	padding-top: 10px;}
.pad-top15 {	padding-top: 15px;}
.pad-top20 {	padding-top: 20px;}
.pad-top30 {	padding-top: 30px;}
.pad-top40 {	padding-top: 40px;}
.pad-bot0 {	padding-bottom: 0; }
.pad-bot10 {	padding-bottom: 10px;}
.pad-bot15 {	padding-bottom: 15px;}
.pad-bot20 {	padding-bottom: 20px;}
.pad-bot40 {	padding-bottom: 40px;}

.pad-left0 {	padding-left: 0px;}
.pad-left5 {	padding-left: 5px;}
.pad-left8 {	padding-left: 8px;}
.pad-left10 {	padding-left: 10px;}
.pad-left13 {	padding-left: 13px;}
.pad-left15 {	padding-left: 15px;}
.pad-left20 {	padding-left: 20px;}
.pad-left25 {	padding-left: 25px;}
.pad-left35 {	padding-left: 35px;}
.pad-left60 {	padding-left: 60px;}
.pad-left140 {	padding-left: 140px;}

.pad-right0 {	padding-right: 0px;}
.pad-right15 {		padding-right: 15px;}
.pad-right25{	padding-right: 25px;}
.pad-right35 {		padding-right: 35px;}
.pad-right60 {		padding-right: 60px;}

.mar-right0 { margin-right: 0px; }
.mar-top0 {	margin-top: 0;}
.mar-top5 {	margin-top: 5px;}
.mar-top10 {	margin-top: 10px;}
.mar-top15 {	margin-top: 15px;}
.mar-bot0 {	margin-bottom: 0;}
.mar-bot10 {	margin-bottom: 10px;}
.mar-bot15 {	margin-bottom: 15px;}
.mar-bot18 {	margin-bottom: 18px;}
.mar-bot30 {	margin-bottom: 30px;}
.mar-bot35 {	margin-bottom: 35px;}
.mar-bot40 {	margin-bottom: 40px;}

.font-fs14 {	font-size: 14px; }
.font-fs18 {	font-size: 18px; }
.font-fw6  {	font-weight: 600; }

.more {
	cursor: pointer;
	font-size: 12px;
	position: relative;
	display: inline-block;
}
.pad-hlogo span{
	color: #656565;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.more span {
	color: #00274c;
	padding-left:0px;
	font-weight: 700;
	font-size: 14px;
	display: table-cell;
}
.guidebutton>a {
	color: #002e5e;
}
.guidebutton {
	padding: 15px;
	color: #002e5e;
	background-color: #fff;
	border: 2px solid #002e5e ;
	font-weight: 500;
	transition: all 0.1s linear;
}
.guidebutton:hover {
	text-decoration: underline;
	font-weight: 800;
}
.col-spacer {
	position: absolute;
	background-color:#fff;
	height: 68px;
	right: -15px;
}
.wid80 {
	width: 80px;
}
.component-title{
	margin-bottom: 20px;
}

section#section-tech p, section#section-story p {
	line-height: 2em;
}
.container.pad-top0 {
	padding-top: 0px;
}
 .secheader h2 {
	font-size:21px;
	font-weight: 600;
	margin-bottom: 0px;
	line-height: 3.1em;
}
section#section-tech h3 {
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
}
.secheader {

	line-height: 60px;
	margin-left:0px;
	margin-right:0px;
}

.secheader .container {
	padding: 0px 15px;
}

.kgrid-component {
	background-color:#fff;
	background-image: url("../assets/img/PlatformDrawing4.png");
	width: 80px;
	height: 80px;
	margin: 40px auto;
	border-radius: 0px;
	background-repeat: no-repeat;
	border: none;
			background-size:360px 80px;
}

.kgrid-component#k-object{
		background-position: 6px -3px;
}
.kgrid-component#k-library{
		background-position: -99px 0px;
}
.kgrid-component#k-activator{
		background-position: -205px 0px;
}
.kgrid-component#k-service{
		background-position: -298px 0px;
}
section.section {
	margin:0;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

.bg-white {
	background-color: #fff;
}
.bg-grey{
		background-color: #e4e1df;
}

section > .container{
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar {
	line-height: 60px;
	height: 60px;
	background-color: #fff;
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0;
	padding-bottom:0;
	border-bottom: 1px solid #d7d7d7;
}

.navbar .navbar-collapse {
	border-top:none;
	margin-bottom: 0;
	padding-bottom:0;
	max-height:none;
	background-color: #e7e7e7;
}
.nav-m {
	padding-left:0;
	margin-bottom:0;
	list-style: none;
}
.nav li, .nav-m li{
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
}

.collapse li {
	border-bottom: 1px solid #c7c7c7;
}
.collapse li.cluster-li {
	height: 48px;
	border-bottom: none;
}

/*.collapse li>a {
	padding-top:18px;
}*/

.nav>li>a, .nav-m>li>a{
	display: block;
	height: 100%;
	line-height: 20px;
	vertical-align: middle;
	color: #555555;
	font-weight: 500;
	font-size: 14px;
	/*letter-spacing: .1em;*/
	/*text-transform: uppercase;*/
	padding-top: 18px;
	padding-bottom: 10px;
}
.nav>li>a:focus, .nav>li>a:hover,.nav-m>li>a:focus, .nav-m>li>a:hover{
    text-decoration: none;
    background-color: transparent;
}
.navbar .navbar-nav > li> a >span {
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
	line-height: 1.4em;
}
.nav-m li >a >span , .nav li >a >span {
	float: left;
}
.nav li>a>span:after {
	content: '';
	display: block;
	margin: auto;
	margin-top:4px;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav li.active>a>span:after, .nav li:hover>a>span:after {
	width: 100%;
	background: #00274c;
}

.navbar-nav {
	/* float: right; */
	margin-bottom: 0;
	padding-bottom:0;
}
.navbar-nav-m {
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom:0;
	background-color: #e7e7e7;

}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #fff;
}

section#spacer {
	height: 60px;
}
section.featured {
	background: #fff;
	color: #fdfdfd;
}

section.featured h1.slogan {
	color: #656565;
	line-height: 1.8em;
	font-weight: 600;
/*padding-bottom: 12px;*/
	    /*letter-spacing: -0.05em;*/
}

h3.slogan {
	line-height: 2em;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 500;
}

.use-detail {
	padding-left: 0px;
}

.modal-content {
	border: none;
	border-radius: 0px;
}

section#footer {
	margin: 0;
	padding:0;
	min-height: 120px;
}
section#footer .container {
	padding: 20px 15px 0px 15px;;
}
section#footer .copyright {
	margin-left:0px;
	margin-right: 15px;
	height: 30px;
	font-weight: 300;
}
section#footer .copyright img {
	filter:grayscale(100%);
	opacity:0.66;
	transition: all 0.5s ease;
}

section#footer .copyright img:hover {
	filter: none;
	opacity: 1;
}

button span {
	font-size:12px;
	vertical-align: middle;
}

section span {
	line-height: 2em;
}

h3.customheading {
	display: none;
}

.modal-header {
    padding: 10px;
    border-bottom: none;
}
.modal-body {
    position: relative;
    padding: 30px 50px;
}

.avatar-md {
	border-radius:50%;
	border: 3px solid #fff;
	width: 80px;
}
.avatar-mo {
	border-radius:50%;
	border: 3px solid #fff;
	width: 140px;
}
/*Toggle Button*/

.navbar-toggle {
	position: absolute;
	right:0px;
	border: none;
	padding: 0;
	margin: 0;
	width: 100px;
	height:60px;
	padding-bottom:6px;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
	background-color: transparent;

}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar, .close .icon-bar {
	  position: relative;
		margin: 0 auto;
		width: 24px;
		height: 1px;
		border-radius: 1px;
		background-color: #00274c;
		display: block;
	  transition: all 500ms ease-in-out;
		top:3px;
}
.close .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle.active .icon-bar:nth-of-type(1), .close .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2), .close .icon-bar:nth-of-type(2){
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3), .close .icon-bar:nth-of-type(3) {
	  top: -4px;
	  transform: rotate(-45deg);
}


/* ========================================
Media queries
========================================= */

@media only screen and (min-width : 992px)   {

	.banner-pad-i{
		padding: 80px 40px 20px 10px;
	}
	.banner-pad {
		padding-top: 90px;
	}
	.pad-hlogo {
		padding-left:13px;
	}
	.pad-btitle{
		padding-bottom: 0px;
	}
	.more-parent {
		height: 120px;
	}
	.align-alt{
		text-align: left;
	}
	.align-alt-l{
		text-align: left;
	}
	section .container, section .nav-container{
		max-width: 992px;
		width:100%;
		margin: 0 auto;
	}


	.nav>li>a {
		padding-top: 4px;
		padding-bottom: 10px;
	}

	.pad-left {
		padding-left: 60px;
	}
	.pad-right, .pad-right-c {
		padding-right: 30px;
	}
	.size170 {
		width: 170px;
		height: 170px;
		padding: 15px;
	}
	.size100 {
		width: 90px;
		height: 90px;
		padding: 10px;
	}
	.avatar-md {
		width: 70px;
	}
	section.featured h1.slogan {
  font-size:32px;
}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.secheader h2 {
    font-size: 18px;
	}
.font-fs18 {	font-size: 16px; }
	.pad-hlogo {
		padding-left:13px;
	}
	.pad-btitle{
		padding-bottom: 0px;
	}
	section.featured h1.slogan {
    font-size: 24px;
}
section.featured h3.slogan {
	font-size: 14px;
}
	.banner-pad-i{
		padding: 60px 30px 30px 10px;
	}
	.banner-pad {
		padding-top: 60px;
	}

	.more-parent {
		height: 70px;
		padding-right: 0px;
	}
	.use-case .more span {
		font-size: 12px;
	}
	.align-alt{
		text-align: left;
	}
	.align-alt-l{
		text-align: left;
	}
	section .container, section .nav-container{
		max-width: 768px;
		width:100%;
		margin: 0 auto;
	}
	.navbar-nav {
		margin-top: 0px;
	}

	.nav>li>a {
		padding-top: 4px;
		padding-bottom: 10px;
	}
	.pad-left {
		padding-left: 60px;
	}
	.pad-right {
		padding-right: 15px;
	}
	.pad-right-a {
		padding-right: 0px;
	}
	.pad-right-c{
		padding-right: 25px;
	}
	.size170 {
		width: 170px;
		height: 170px;
		padding: 15px;
	}
	.size100 {
		width: 70px;
		height: 70px;
		padding: 5px;
	}
	.avatar-md {
		width: 60px;
	}
}

@media only screen  and  (max-width: 767px) {

	.kgrid-component {
		width: 200px;
		height:200px;
		background-size: 900px 200px;
	}
	.kgrid-component#k-object {
		background-position: 16px -3px;
	}
	.kgrid-component#k-library{
		background-position: -246px 0px;
	}
	.kgrid-component#k-activator{
		background-position: -510px 0px;
	}
	.kgrid-component#k-service{
		background-position: -743px 0px;
	}
	.banner-pad-i{
		padding: 30px 10px 25px 10px;
	}
	.banner-pad {
		padding-top: 20px;
	}
	.pad-hlogo {
		padding-left:28px;
	}
	.pad-btitle{
		padding-bottom: 30px;
	}
	section.featured h1.slogan {
		font-size: 24px;
	}
	section.featured h3.slogan {
		font-size: 16px;
	}
	.more-parent {
		height: 70px;
	}
	.navbar-toggle{
		width: 80px;
	}
	.align-alt, .align-alt-l{
		text-align: center;
	}
	section .container{
		max-width: 295px;
		width:100%;
		margin: 0 auto;
	}
	section .nav-container {
		width: 100%;
		max-wiudth: none;
	}

	.modal-dialog {
		margin: 0px;
	}
	.pad-left {
		padding-left: 0px;
	}
	.pad-right {
		padding-right: 0px;
	}
	 .pad-right-c {
		padding-right: 15px;
	}
  .line-ht2 {
		line-height:1.8em;
	}
	section.section {
		margin:0;
		padding: 00px 20px 0px 20px;
	}
	section.featured {
	    padding-top: 20px;
			padding-bottom: 35px;
	}
	section#footer .school img {
		height: 1.8em;
	}
	.size170 {
		width: 170px;
		height: 170px;
		padding: 15px;
	}
	.size100 {
		width: 70px;
		height: 70px;
		padding: 5px;
	}

	.avatar-md {
			width: 60px;
	}
	.secheader h2 {
		font-size:18px;
		font-weight: 600;
		line-height: 60px;
		margin: 0;
	}
	.secheader h2.longliner {
		font-size:14px;
		font-weight:700;
	}

}

.avaicon {
	position: relative;
	display: inline-block;
}
.icon-brd-tr, .icon-brd-bl {
	position:absolute;
	top:0;
	left:0;
	background-color:transparent;
  -webkit-backface-visibility: hidden;
	border: 1px solid #fff;
	border-radius: 50%;
	border-right-color: #00274c;border-left-color: #00274c;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
}
button.close {
	width:40px;
	height:40px;
}
