.datagrid, .infogrid {
	/* 	background-color:pink; */
	position: relative;
	width: 1024px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	max-width: 1028px;
}

.header {
	z-index: 125;
	min-width: 1584px;
}

.headercontainer {
	width: 98%;
	height: 60px;
	background: white;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid lightgrey;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	z-index: 125;
}

.headercol {
	position: relative;
	text-align: left;
	width: 1024px;
	height: 30px;
	border-collapse: collapse;
	/*     margin:0 auto; */
	display: table;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 1028px;
	z-index: 125;
}

.headercol ul {
	display: table-row;
}

.headercol ul li {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	background-color: white;
	color: #39b54a;
	font-size: 14px;
	font-weight: 800;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 22px;
	padding-right: 22px;
}


.view-obj {
	padding: 0px;
}

.view-obj p, h4 {
	color: #666666;
	font-weight: 400;
	font-size: 14px;
	padding-left:16px;
}

.view-obj div {
 	margin: 22px 0px; 
}

.inline {
	display: inline-block;
	margin:0px 0px 0px 50px;
	vertical-align: middle;
}

.edit {
	background-color: #fff;
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
	padding-left: 22px;
	border: none;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
		transition: color 0.5s ease;
}

.edit:hover{
	color: #666666;
}

.done {
	background-color: #fff;
	color: #39b54a;
	font-size: 14px;
	font-weight: 300;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #39b54a;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	right: 250px;
	top: -26px;
}






.current-tab span{
/* 	border-bottom: 2px solid #39b54a; */
	padding-bottom:2px;
	color:#666666;
	
}


.userbutton {
	position: absolute;
	right: 22px;
	bottom: 35px;
}


textarea {
	width: 100%;
/* 	min-height: 380px; */
	margin: 0px;
	padding: 5px;
	border: 1px solid #39b54a;
	border-radius: 10px;
}
