.roundbutton {
  font-family: 'Open Sans', sans-serif;
    width:35px;
    height:35px;
    border-radius: 100%;
    color:dimgrey;
    background-color:white;
    border:1px solid #666666;
    font-size:12pt;
    font-weight: 300;
    margin:0 -5px;
    line-height: 35px;
    position:relative;
    vertical-align:middle;
    /*margin-top:25px;
    margin-left:25px;*/
}
.roundbutton p{
  padding:6px 0;
}

.roundbutton:hover{
    border:1px solid #39b45a;
    color:#39b45a;
    font-weight:400;
    background-color:#39b45a;
}

#settinglink, #objsettinglink{
  margin-left: 20px;
}

.saveChange{
  height:40px;
  width:145px;
  border:none;
  border-radius: 10px;
  background-color: #39b54a;
  color:white;
  font-size: 14px;
  text-align: center;
  margin-left: 350px;
  font-weight: 300;
  margin-right: 25px;
}
.mediumgreenroundbutton {
    width:22px;
    height:22px;
    border-radius: 100%;
    color:white;
    background-color:#39b54a;
    border:none;
}

.mediumgreenroundbutton img {
		margin-bottom: 3px;
	}
#closebutton {
  position: absolute;
  top:-18px;
  right:-18px;
  z-index: 1000;
  box-shadow: 1px 1px #666666;
}

img{
    vertical-align: middle;
    margin:0 auto;
}

img#dropdown{
	tr
}

        #infoicon{
            position:absolute;
            bottom:-20px;
            right:350px;
            margin:0 auto;
            z-index:500;
        }
                #addObjbutton{
            position:absolute;
            bottom:-20px;
            right:350px;
            z-index:500;
            margin: 0 auto;
         }
        #backtotop{
            position:fixed;
            bottom:50px;
            right:350px;
            margin:0 auto;
            display:none;
            z-index:500;
        }

.delete_btn, .edit_btn{
	display:inline-block;
	background-color:#fff;
	line-height: 1em;
	font-size:14px;
	color: #b3b3b3;
	padding:0px 10px 0px 10px;
	
}
 .edit_btn{
 	border-right: 1px solid #b3b3b3;
 }


.delete_btn:hover, .edit_btn:hover{
	color:#666666;
}

.ot-r-btn .btnContent{
  position: relative;
  top:-30px;
  left:13px;
}

.ot-r1-btn .btnContent{
  position: relative;
  top:-21px;
  left:14px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.ot-r-btn {
  position: relative;
  border: none;
  width:40px;
  height:40px;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
}
.ot-s-btn {
  position: relative;
  border: none;
  width:400px;
  height:50px;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
}
.ot-r1-btn {
  position: relative;
  border: none;
  width:20px;
  height:20px;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
}

.greenroundbutton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    margin: auto;
   	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	transition: transform 0.5s ease;
}
.greenbutton {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    margin: auto;
	transition: all 0.5s ease;
}

.greyroundbutton {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: white;
    background-color: transparent;
    border: 1px solid #b3b3b3;
    font-size: 20px;
    margin: auto;
	transition: all 0.5s ease ;
}

.ot-r-btn:hover .greenroundbutton, .ot-r1-btn:hover .greyroundbutton{
  transform: scale(1.2);
  margin: auto;
}

.ot-s-btn:hover .greenbutton {
	transform: scaleX(1.02) scaleY(1.1);
    opacity: 0.75;

}
