/*
#1 = 35A49C
#2 = 79CDC0
*/
a {
	color: #333333;
	transition: all 1s ease;
}
a:hover {
	color: #333333;
}

/* menu */
.nav > li > a:hover, .nav > li > a:focus, .dropdown-menu >li>a:hover {
    text-decoration: none;
    background-color: transparent;
		color: #333333;
}
.navbar .navbar-nav > .active > a {
	color: #333333;
}
